<div class="container-fluid" id="container">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12" id="login-page">
                <h1 class="text-primary text-center mt-4">Login</h1>
                <form action="" class="mt-5" [formGroup]="loginForm">
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <i class="fa-regular fa-envelope icon"></i>
                            <input type="email" class="" placeholder="Enter your mail" formControlName="email" required>
                            <div class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched ||  submitted && loginForm.get('email')?.invalid">
                                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
                                <div *ngIf="loginForm.get('email')?.errors?.['email']">Email is not valid</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <i class="fa-solid fa-lock icon" *ngIf="!unLock" (click)="showToggle()"></i>
                            <i class="fa-solid fa-unlock unlock" *ngIf="unLock" (click)="showToggle()"></i>
                            <input [type]="unLock? 'text':'password'" class=" " placeholder="Enter your password" formControlName="password" required>
                            <div class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ||  submitted && loginForm.get('password')?.invalid">
                                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                                <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Please enter valid password</div>
                            </div>
                            <div></div>
                        </div>
                        <div>
                            <a href="" class="mt-3 forgot">Forgot password?</a>
                        </div>
                        <div>
                            <button class="btn btn-primary mt-5" (click)="login()" >Login</button>
                        </div>
                        <div class="mt-5 text-center">
                            <span>Don't have account?<a class="signup" (click)="signUp()">Signup now</a></span>
                        </div>
                    </div>
                  
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12" id="image">
                <img src="assets/images/login.jpg" alt="login" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="overlay d-flex justify-content-center align-items-center" *ngIf="isSignedIn">
    <div class="signup mx-auto">
        <span (click)=" signOut()">&times;</span>
        <form action="" [formGroup]="signupForm">
            
            <h1 class="text-center text-success mt-2">Sing Up</h1>
            <div class="form-group mt-3">
                <div class="row">
                    <div class="div">
                        <i class="fa-solid fa-user sinup-icon"></i>
                        <input type="text" class="singup-input" placeholder="Please enter your name" required formControlName="name">
                        <div class="text-danger" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched ||  submitted && signupForm.get('name')?.invalid">
                            <div *ngIf="signupForm.get('name')?.errors?.['required']">Name is required</div>
                            <div *ngIf="signupForm.get('name')?.errors?.['minLength']">Name should at least 3 charatcters</div>
                            <div *ngIf="signupForm.get('name')?.errors?.['maxLength']">Maximum 20 characters only</div>

                        </div>
                    </div>
                    <div class="div">
                        <i class="fa-solid fa-envelope sinup-icon"></i>
                        <input type="text"  class="singup-input"  placeholder="Please enter your Email" required formControlName="email">
                        <div class="text-danger" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched ||  submitted && signupForm.get('email')?.invalid">
                            <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</div>
                            <div *ngIf="signupForm.get('email')?.errors?.['email']">Email is not valid</div>

                        </div>
                    </div>
                    <div class="div">
                        <i class="fa-solid fa-lock sinup-icon"></i>
                        <input type="password"  class="singup-input" placeholder="Please enter your Password" required formControlName="password">
                        <div class="text-danger" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched ||  submitted && signupForm.get('password')?.invalid">
                            <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>
                            <div *ngIf="signupForm.get('password')?.errors?.['pattern']">Password is not valid</div>

                        </div>
                    </div>
                    <div class="div">
                        <i class="fa-solid fa-key sinup-icon"></i>
                        <input type="password"  class="singup-input" placeholder="Please enter your Confirm Password" required formControlName="confirmPassword">
                        <div class="text-danger" *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched ||  submitted && signupForm.get('confirmPassword')?.invalid">
                            <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
                            <div *ngIf="signupForm.get('confirmPassword')?.errors?.['pattern']">Confirm Password is not valid</div>

                        </div>
                    </div>
                    <div class="mt-2">
                        <input type="checkbox" class="checkbox ">
                        <label for="">I agree all statements in<a href="">Terms of Service
                        </a></label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <button class="btn btn-danger"(click)=reset()>Reset</button>
                        <button class="btn btn-primary " (click)="signUpForm()">Sign Up</button>
                    </div>
                    <div class="loader" *ngIf="loader">
                        <img src="assets/images/loader.gif" alt="">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
